@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

.section-2 {
  background-color: #1f1d2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.sec-2-text {
  width: 727px;
  height: 47px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
.company {
  display: flex;
  justify-content: space-between;
}

.company-img {
  width: 158.78px;
  height: 79.39px;
  margin-left: 65px;
  margin-top: 35px;
}
